kubePrometheusStack:
  fullnameOverride: observability-stack

grafana:
  enabled: true
  adminUser: admin
  adminPassword: admin
  service:
    type: ClusterIP

prometheus:
  prometheusSpec:
    retention: 15d
    scrapeInterval: 15s
